---
import { twMerge } from "tailwind-merge";
import { Image } from "astro:assets";
import logomark from "../assets/logomark.svg";

interface Props {
  hideMarkOnDesktop?: boolean;
  hideMarkOnMobile?: boolean;
  class?: string;
}
import { SOCIAL_LINKS } from "src/constants";

const { instagram, email } = SOCIAL_LINKS;
const username = instagram.split("/").pop();

const {
  hideMarkOnDesktop = false,
  hideMarkOnMobile = false,
  class: className,
} = Astro.props;
---

<footer
  class={twMerge(
    "grid desktop:grid-cols-subgrid mobile:grid-areas-mobile-footer mobile:gap-4 pb-8",
    className
  )}
>
  <section class="desktop:col-span-2 mobile:grid-in-contact">
    <h2>contact</h2>
    <address class="not-italic">
      <a href=`mailto:${email}`>{email}</a>
    </address>
  </section>
  <section class="desktop:col-span-2 mobile:grid-in-ig">
    <h2>instagram</h2>
    <a href={instagram}
      >@{username}<span class="visually-hidden">(Instagram Profile)</span></a
    >
  </section>
  <div
    class={twMerge(
      "flex justify-end desktop:col-start-[-1] mobile:grid-in-logo",
      hideMarkOnDesktop && "desktop:hidden",
      hideMarkOnMobile && "mobile:hidden"
    )}
  >
    <Image src={logomark} alt="" width={48} height={48} />
  </div>
</footer>
