---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";
import logo from "../assets/logo.svg";

import { SOCIAL_LINKS } from "@config";

const { instagram, email } = SOCIAL_LINKS;

type NavLink = {
  label: string;
  href: string;
};

const navLinks: NavLink[] = [
  {
    label: "about",
    href: "/about",
  },
  {
    label: "work",
    href: "/work",
  },
  {
    label: "contact",
    href: `mailto:${email}`,
  },
];
const linkBaseClasses =
  "relative text-xl no-underline w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-black after:w-full";
const linkActiveClasses = linkBaseClasses;
const linkInactiveClasses = `${linkBaseClasses} after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-175 after:origin-center`;
---

<header class="grid grid-cols-2 py-12">
  <a href="/"
    ><Image src={logo} width={360} height={74} alt="On end studio logo" /></a
  >
  <section class="flex justify-between items-center">
    <nav class="flex text-2xl gap-12 uppercase">
      {
        navLinks.map((link: NavLink) => (
          <a
            href={link.href}
            class={
              Astro.url.pathname === link.href
                ? linkActiveClasses
                : linkInactiveClasses
            }
          >
            {link.label}
          </a>
        ))
      }
    </nav>
    <a href={instagram}><Icon name="instagram" size="24" /></a>
  </section>
</header>
