---
import { Image } from "astro:assets";

import { getImages } from "@scripts/utils";
import { MAX_HERO_WIDTH } from "@constants";

interface Props {
  imagePath: string;
  altText: string;
  class?: string;
}

const { imagePath, altText, class: className } = Astro.props;
const allImages = getImages();
if (!allImages[imagePath]) {
  throw new Error(`"${imagePath}" does not exist"`);
}

const image = allImages[imagePath]();
const { default: imageMetadata } = await image;

const calculatedHeight = Math.round(
  MAX_HERO_WIDTH * (imageMetadata.height / imageMetadata.width)
);
---

<section class={className}>
  <Image
    class="rounded-sm object-cover object-center desktop:h-[calc(100vh-48px)]"
    src={image}
    alt={altText}
    width={MAX_HERO_WIDTH}
    height={calculatedHeight}
    loading="eager"
  />
</section>
