---
import "@styles/global.css";
import "@styles/fonts.css";

import {
  THEME_COLOR,
  SITE_DESCRIPTION,
  SITE_TITLE,
  SOCIAL_IMAGE,
} from "src/constants";

interface Props {
  pageTitle?: string;
}
const { pageTitle } = Astro.props;
const title = pageTitle ? `${pageTitle} | ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content={THEME_COLOR} />
    <meta name="description" content={SITE_DESCRIPTION.long} />
    <meta property="og:title" content="On End Studio" />
    <meta property="og:description" content={SITE_DESCRIPTION.short} />
    <meta property="og:image" content={SOCIAL_IMAGE} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="text-stone-900 bg-stone-200 p-6">
    <main class="grid mobile:grid-cols-5 grid-cols-14 gap-6">
      <slot />
    </main>
  </body>
</html>
