---
import "@styles/global.css";

import { twMerge } from "tailwind-merge";
import { AstroFont } from "astro-font";

import {
  THEME_COLOR,
  SITE_DESCRIPTION,
  SITE_TITLE,
  SOCIAL_IMAGE,
} from "src/constants";

interface Props {
  pageTitle?: string;
  hideGrid?: boolean;
  class?: string;
}
const {
  pageTitle,
  hideGrid = false,
  class: classes = "grid-area-desktop",
} = Astro.props;
const title = pageTitle ? `${pageTitle} | ${SITE_TITLE}` : SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="theme-color" content={THEME_COLOR} />
    <meta name="description" content={SITE_DESCRIPTION.long} />
    <meta property="og:title" content="On End Studio" />
    <meta property="og:description" content={SITE_DESCRIPTION.short} />
    <meta property="og:image" content={SOCIAL_IMAGE} />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <AstroFont
      config={[
        {
          src: [],
          name: "JetBrains Mono",
          googleFontsURL:
            "https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap",
          preload: true,
          display: "swap",
          selector: "body",
          fallback: "monospace",
        },
      ]}
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
  </head>
  <body class="text-primary bg-surface p-4 desktop:p-6">
    {
      hideGrid ? (
        <main>
          <slot />
        </main>
      ) : (
        <main
          class={twMerge(
            "grid gap-6 grid-cols-5 grid-rows-mobile desktop:grid-cols-14 desktop:grid-rows-desktop",
            classes
          )}
        >
          <slot />
        </main>
      )
    }
  </body>
</html>
